{% include 'inicial/partials/head.html' %}
<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fa-solid fa-laptop-code main-logo-icon"></i>
                    <span class="main-logo-text">Perfil Curricular   </span>
                </a>
                <ul class="main-logo-sections">
                    <a class="main-logo" href="formacao/">
                        <span class="main-logo-text">Formação   </span>
                    </a>
                    <a class="main-logo" href="projetos/">
                        <span class="main-logo-text">Projetos   </span>
                    </a>
                    <a class="main-logo" href="contatos/">
                        <span class="main-logo-text">Contatos   </span>
                    </a>
                </ul>
            </h1>
        </div>
    </header>
    <h1>
        <i class="fa-sharp fa-solid fa-image"></i>
        Gustavo Pereira da Silva
    </h1>
    <h2>
        Tecnologias
    </h2>
    <ul>
        <li><i class="fa-solid fa-file-code"></i></li>
        <li><i class="fa-solid fa-file-code"></i></li>
        <li><i class="fa-solid fa-file-code"></i></li>
        <li><i class="fa-solid fa-file-code"></i></li>
        <li><i class="fa-solid fa-file-code"></i></li>
        <li><i class="fa-solid fa-file-code"></i></li>
        <li><i class="fa-solid fa-file-code"></i></li>
    </ul>
    <h2>
       FORMAÇÃO 
    </h2>
    BCC-UFRPE
    <h2>
        PROJETOS
    </h2>
    <ul>
        <li><i class="fa-solid fa-code"></i></li>
        <li><i class="fa-solid fa-code"></i></li>
        <li><i class="fa-solid fa-code"></i></li>
    </ul>
    <h2>
        CONTATO
    </h2>
    <ul>
        <li>GIT</li>
        <li>WHATS</li>
        <li>INSTA</li>
        <li>LINKEDIN</li>
    </ul>
</body>
</html>